
$font-family-montserrat : "Montserrat";
$font-family-quicksand : "Quicksand";

// Colors
$title-color : #17181c;
$text-color : #777;
$text-color-999 : #999;
$white : #fff;
$eee : #eee;
$bbb : #bbb;
$ccc : #ccc;

$main-primary-color : #435da5;
$main-secondary-color : #7189cb;

$main-primary-color-1 : #435da5;
$main-primary-color-2 : #F2709C;
$main-primary-color-3 : #5243a5;
$main-primary-color-4 : #3e9172;
$main-primary-color-5 : #dbd98d;
$main-primary-color-6 : #40526c;
$main-primary-color-7 : #db98b1;
$main-primary-color-8 : #ff8763;
$main-primary-color-9 : #ff6d6d;

$main-secondary-color-1 : #7189cb;
$main-secondary-color-2 : #ffb2cc;
$main-secondary-color-3 : #877ad3;
$main-secondary-color-4 : #60bb99;
$main-secondary-color-5 : #666;
$main-secondary-color-6 : #6783ad;
$main-secondary-color-7 : #fbbad2;
$main-secondary-color-8 : #fbaf99;
$main-secondary-color-9 : #ffabab;

$main-bg-1 : #fff;
$main-bg-2 : url("../img/bg/bg-thumb-2.png");
$main-bg-3 : url("../img/bg/bg-thumb-3.png");
$main-bg-4 : url("../img/bg/bg-thumb-4.png");
$main-bg-5 : url("../img/bg/bg-thumb-5.png");
$main-bg-6 : url("../img/bg/bg-thumb-6.png");

//Border radius 
$border-radius-30: 0px;
$border-radius-20: 0px;
$border-radius-15: 0px;
$border-radius-10: 0px;

// $border-color: #f3f3f3;
$border-color: #17181c;

$dark-mode-bg: #202126 !important;
$dark-mode-bg-light: #2c2f36 !important;

$dark-mode-bg-color: #17181c !important;
$dark-mode-bg-light-color:#2c2f36 !important;