<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#----------------------Admin Akses----------------------------#

#verify_akun
RewriteRule ^verifikasi-akun/([a-zA-Z0-9-z\-\_]+)$ .rest_apl.php?f=web_page&m=verify&id=$1 [L]

#dashboard
RewriteRule ^dashboard$ .rest_page.php [L]
RewriteRule ^home$ .rest_apl.php [L]

#login
RewriteRule ^login-for-users$ .rest_api.php [L]

#register
RewriteRule ^register-for-new-users$ .rest_up.php [L]

#logout
RewriteRule ^out$ .rest_page.php?f=adm_page&m=out [L]

#setting
RewriteRule ^setting$ .rest_page.php?f=adm_page&m=users&a=setting [L]

#password
RewriteRule ^password$ .rest_page.php?f=adm_page&m=users&a=password [L]

#profile
RewriteRule ^profile/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=profile&id=$1 [L]
RewriteRule ^profile/([a-zA-Z0-9_-]+)/page/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=profile&id=$1&page=$2 [L]


#users
RewriteRule ^users$ .rest_page.php?f=adm_page&m=users [L]
RewriteRule ^users-blok$ .rest_page.php?f=adm_page&m=users&a=users-blok [L]
RewriteRule ^users/aktif$ .rest_page.php?f=adm_page&m=users&a=aktif [L]
RewriteRule ^users/blokir$ .rest_page.php?f=adm_page&m=users&a=blokir [L]
RewriteRule ^check_users$ modul/adm_page/users/c_users.php [L]
RewriteRule ^check_email$ modul/adm_page/users/c_email.php [L]
RewriteRule ^users/add$ .rest_page.php?f=adm_page&m=users&a=add [L]
RewriteRule ^users/edit$ .rest_page.php?f=adm_page&m=users&a=edit [L]
RewriteRule ^users/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=users&a=edit&id=$1 [L]
RewriteRule ^users/delete$ .rest_page.php?f=adm_page&m=users&a=delete [L]
RewriteRule ^users/delete-temp$ .rest_page.php?f=adm_page&m=users&a=delete-temp [L]
#RewriteRule ^users/delete-temp/([a-zA-Z0-9_-]+)$ .rest_page.php?m=users&a=delete-temp&id=$1 [L]
RewriteRule ^users/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=users&a=detail&id=$1 [L]

#regu
RewriteRule ^tags$ .rest_page.php?f=adm_page&m=tags [L]
RewriteRule ^tags/add$ .rest_page.php?f=adm_page&m=tags&a=add [L]
RewriteRule ^tags/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=tags&a=edit&id=$1 [L]
RewriteRule ^tags/delete$ .rest_page.php?f=adm_page&m=tags&a=delete [L]
RewriteRule ^tags/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=tags&a=detail&id=$1 [L]
RewriteRule ^tags/detail/([a-zA-Z0-9_-]+)/page/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=tags&a=detail&id=$1&page=$2 [L]

#regu
RewriteRule ^regu$ .rest_page.php?f=adm_page&m=regu [L]
RewriteRule ^regu/add$ .rest_page.php?f=adm_page&m=regu&a=add [L]
RewriteRule ^regu/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=regu&a=edit&id=$1 [L]
RewriteRule ^regu/delete$ .rest_page.php?f=adm_page&m=regu&a=delete [L]
RewriteRule ^regu/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=regu&a=detail&id=$1 [L]
RewriteRule ^regu/detail/([a-zA-Z0-9_-]+)/page/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=regu&a=detail&id=$1&page=$2 [L]

#korlap
RewriteRule ^korlap$ .rest_page.php?f=adm_page&m=korlap [L]
RewriteRule ^korlap/add$ .rest_page.php?f=adm_page&m=korlap&a=add [L]
RewriteRule ^korlap/ktp/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=korlap&a=ktp&id=$1 [L]
RewriteRule ^check_korlap$ modul/adm_page/korlap/cek_nik_korlap.php [L]
RewriteRule ^korlap/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=korlap&a=edit&id=$1 [L]
RewriteRule ^korlap/delete$ .rest_page.php?f=adm_page&m=korlap&a=delete [L]
RewriteRule ^korlap/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=korlap&a=detail&id=$1 [L]
RewriteRule ^korlap/detail/([a-zA-Z0-9_-]+)/page/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=korlap&a=detail&id=$1&page=$2 [L]

#giat
RewriteRule ^giat$ .rest_page.php?f=adm_page&m=giat [L]
RewriteRule ^giat/add$ .rest_page.php?f=adm_page&m=giat&a=add [L]
RewriteRule ^giat/delete/dokumentasi$ .rest_page.php?f=adm_page&m=giat&a=delete-dokumentasi [L]
RewriteRule ^giat/delete$ .rest_page.php?f=adm_page&m=giat&a=delete [L]
RewriteRule ^giat/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=giat&a=edit&id=$1 [L]
RewriteRule ^giat/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=dgiat&id=$1 [L]
RewriteRule ^giat/print$ modul/adm_page/dgiat/print.php [L]

#pengaduan
RewriteRule ^pengaduan$ .rest_page.php?f=adm_page&m=pengaduan [L]
RewriteRule ^pengaduan/add$ .rest_page.php?f=adm_page&m=pengaduan&a=add [L]
RewriteRule ^pengaduan/add-adm$ .rest_page.php?f=adm_page&m=pengaduan&a=add-adm [L]
RewriteRule ^pengaduan/delete/bukti$ .rest_page.php?f=adm_page&m=pengaduan&a=delete-bukti [L]
RewriteRule ^pengaduan/delete$ .rest_page.php?f=adm_page&m=pengaduan&a=delete [L]
RewriteRule ^pengaduan/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=pengaduan&a=edit&id=$1 [L]
RewriteRule ^pengaduan/teruskan/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=pengaduan&a=teruskan&id=$1 [L]
RewriteRule ^pengaduan/tolak/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=pengaduan&a=tolak&id=$1 [L]
RewriteRule ^pengaduan/selesai/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=pengaduan&a=selesai&id=$1 [L]
RewriteRule ^pengaduan/proses$ .rest_page.php?f=adm_page&m=pengaduan&a=proses [L]
RewriteRule ^pengaduan/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=dpengaduan&id=$1 [L]
RewriteRule ^pengaduan/print$ modul/dpengaduan/print.php [L]

#giat
RewriteRule ^blog/post$ .rest_page.php?f=adm_page&m=blog [L]
RewriteRule ^blog/post/add$ .rest_page.php?f=adm_page&m=blog&a=add [L]
RewriteRule ^blog/post/delete/gambar$ .rest_page.php?f=adm_page&m=blog&a=delete-gambar [L]
RewriteRule ^blog/post/delete$ .rest_page.php?f=adm_page&m=blog&a=delete [L]
RewriteRule ^blog/post/edit/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=blog&a=edit&id=$1 [L]
RewriteRule ^blog/post/settings/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=blog&a=settings&id=$1 [L]
RewriteRule ^blog/post/detail/([a-zA-Z0-9_-]+)$ .rest_page.php?f=adm_page&m=dblog&id=$1 [L]
RewriteRule ^blog/post/print$ modul/dblog/print.php [L]

#Laporan
RewriteRule ^laporan$ .rest_page.php?f=adm_page&m=laporan [L]
RewriteRule ^laporan/tanggal$ .rest_page.php?f=adm_page&m=laporan&a=tanggal [L]
RewriteRule ^laporan/pertanggal$ .rest_page.php?f=adm_page&m=laporan&a=pertanggal [L]
RewriteRule ^laporan/perbus$ .rest_page.php?f=adm_page&m=laporan&a=perbus [L]
RewriteRule ^laporan/bus$ .rest_page.php?f=adm_page&m=laporan&a=bus [L]

#----------------------Batas Admin Akses----------------------------#

#----------------------User Akses----------------------------#

#privacyPolicy
RewriteRule ^privacy-policy$ .rest_apl.php?f=web_page&m=privacy [L]

#termsConditions
RewriteRule ^terms-conditions$ .rest_apl.php?f=web_page&m=trems [L]

#Berita
RewriteRule ^p/berita$ .rest_apl.php?f=web_page&m=berita [L]
RewriteRule ^p/berita/page/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=berita&page=$1 [L]
RewriteRule ^p/berita/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=berita&a=details-berita&id=$1 [L]
RewriteRule ^p/cari$ .rest_apl.php?f=web_page&m=berita&a=cari&key=$1 [L]
RewriteRule ^p/cari/page/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=berita&a=cari&key=$1&page=$2 [L]

#daftarTags
RewriteRule ^p/tags/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=tags&id=$1 [L]
RewriteRule ^p/tags/([a-zA-Z0-9_-]+)/page/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=tags&id=$1&page=$2 [L]


#pengaduan
RewriteRule ^p/pengaduan$ .rest_apl.php?f=web_page&m=pengaduan [L]
RewriteRule ^p/pengaduan/all$ .rest_apl.php?f=web_page&m=pengaduan&a=all [L]
RewriteRule ^p/pengaduan/all/page/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=pengaduan&a=all&page=$1 [L]
RewriteRule ^p/pengaduan/([a-zA-Z0-9_-]+)$ .rest_apl.php?f=web_page&m=pengaduan&a=details-pengaduan&id=$1 [L]
RewriteRule ^p/pengaduan/cari$ .rest_apl.php?f=web_page&m=pengaduan&a=cari-pengaduan [L]

#profile
RewriteRule ^p/users/profile$ .rest_apl.php?f=web_page&m=profile [L]


#logout
RewriteRule ^p/out$ .rest_apl.php?f=web_page&m=out [L]

#error 403

RewriteRule ^400-Errors$ 400.php [L]
RewriteRule ^401-Errors$ 401.php [L]
RewriteRule ^403-Errors$ 403.php [L]
RewriteRule ^404-Errors$ 404.php [L]
RewriteRule ^500-Errors$ 500.php [L]
RewriteRule ^503-Errors$ 503.php [L]


#----------------------Batas User Akses----------------------------#

#error
ErrorDocument 400 /400.php
ErrorDocument 401 /401.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
ErrorDocument 503 /503.php
#enderror
Options All -Indexes
</IfModule>
