/*===== Commen css =====*/
body {
  @include custom-scroll-bar;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $font-family-montserrat;
  font-weight: 400;
  // background-color: #ebebeb;
}
h1 {
  font-family: $font-family-quicksand;
  font-weight: 700;
  letter-spacing: .01rem;
}
h2, h3, h4, h5, h6 {
  font-family: $font-family-quicksand;
  font-weight: 400;
  letter-spacing: .01rem;
}
.padding-tb-80 {
  padding: 80px 0;
}
p, li, span {
  letter-spacing: 0.02rem;
}
p {
  font-size: 16px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
.ms-flash {
  // display: none;
  &:after {
    content: "";
    width: 2000px;
    height: 2000px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    transform: rotate(45deg);
    animation: ms-flash 3s ease-in-out infinite;
    z-index: 99;
  }
}
@-webkit-keyframes ms-flash {
  0% {transform:translateX(-100%) rotate(45deg);}
	100% {transform:translateX(100%) rotate(45deg);}
}
.m-r-5px {
  margin-right: 5px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-t-80 {
  margin-top: 80px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-b-30{
  padding-bottom: 30px !important;
}
.m-b-minus-24px {
  margin-bottom: -24px;
}
.m-tb-minus-12 {
  margin-top: -12px;
  margin-bottom: -12px;
}
.p-tp-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: $white;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}
.ms-btn, .ms-btn-1 {
  border: none;
  color: $white;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: $title-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-30;
}
.ms-btn {
  background-color: $border-color;
  color: $white;
  &:hover{
    background-color: $white;
    color: $border-color;
  }
}
.ms-btn-1 {

  &:hover{
    background-color: $border-color;
    color: $white;
  }
}
.ms-btn:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: $white;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.ms-box {
  @include ease3;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: $border-radius-30;
  background: $white;
}
.ms-btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
@-webkit-keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
.border-r {
  border-right: 10px dashed $white;
}

.main-bg {
  height: 100%;
  background: $main-primary-color;
}
.main-bg-black {
  height: 100%;
  background: #191a1e;
}
.ms-row {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.section-bg {
  background-color: $white;
}
.section-title {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  z-index: 5;
  h2 {
    // max-width: 300px;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: $title-color;
    span {
      color: $main-primary-color;
    }
  }
  .ligh-title {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $font-family-montserrat;
    font-size: 80px;
    font-weight: 700;
    color: $white;
    line-height: 60px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    opacity: .05;
    z-index: 1;
  }
}
section {
  // @include ease3;
  position: relative;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.show-section {
  // @include ease3;
  display: block !important;
}
.hide-section {
  z-index: 7; 
  transform: translate3d(0px, -100%, 0px);   
  backface-visibility: hidden;
}
#overlay_shine {
  @include ease5;
  position: fixed;
  z-index: 1;
  display: block;
  background: rgba(0, 0, 0, .2);
  top: 0px;
  left: -50%;
  width: 200%;
  height: 100%;
  transform : rotate(-30deg) translateY(-150%);
}
// Loader css
#ms-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
.ms-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ms-roller div {
  animation: ms-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ms-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #555;
  margin: -4px 0 0 -4px;
}
.ms-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ms-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ms-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ms-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ms-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ms-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ms-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ms-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ms-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ms-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ms-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ms-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ms-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ms-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ms-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ms-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes ms-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}
// Custom cursor
.ms-cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #000;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  animation:morphing-image 10s linear infinite forwards;
  z-index: 999;
}
.ms-cursor-2 {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #000;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999;
}
.ms-hover-cursor {
  width: 50px;
  height: 50px;
  background-color: $main-primary-color;
  opacity: 0.5;
  z-index: 999;
}
.ms-cursorinnerhover {
  width: 30px;
  height: 30px;
  opacity: .5;
  z-index: 999;
}
@keyframes morphing-image{
	0%{ border-radius:50% 50% 50% 50% / 50% 50% 50% 50%; }
	10%{ border-radius:39% 61% 38% 62% / 53% 54% 46% 47%; }
	20%{ border-radius:56% 44% 52% 48% / 57% 35% 65% 43%; }
	30%{ border-radius:41% 59% 45% 55% / 43% 56% 44% 57%; }
	40%{ border-radius:46% 54% 60% 40% / 55% 65% 26% 45%; }
	50%{ border-radius:44% 56% 42% 65% / 41% 65% 46% 69%; }
	60%{ border-radius:41% 69% 42% 68% / 41% 71% 29% 69%; }
	70%{ border-radius:44% 56% 60% 40% / 63% 46% 64% 37%; }
	80%{ border-radius:46% 54% 38% 62% / 44% 48% 52% 56%; }
	90%{ border-radius:66% 45% 57% 43% / 49% 51% 49% 51%; }
	100%{ border-radius:50% 50% 50% 50% / 50% 50% 50% 50%; }
}