/*===== Resume css (EXPERIENCE & EDUCATION)=====*/
.ms-experience-section {
  display: none;
  transform : translateY(100%);
}
.education, .experiense {
  h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: $font-family-montserrat;
    color: $title-color;
  }
}
.ms-experience-section {
  .timeline {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style: none;
    position: relative;
    .timeline-item {
      padding-left: 40px;
      position: relative;
      .timeline-block {
        // border: 1px solid $border-color;
      }
    }
  }
}
.timeline-info span{
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.timeline-marker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15px;
  &:before {
    content: "";
    width: 15px;
    background: transparent;
    border: 1px solid $border-color;
    border-radius: 100%;
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 1px;
    border-right: 1px solid $border-color;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 7px;
  }
}
.timeline-item {
  &:last-child, &:after {
    content: none;
  }
  &:hover {
    .timeline-marker{
      &:before {
        background: transparent;
        border: 3px solid $main-primary-color;
      }
    }
  }
}
.timeline-content {
	padding-bottom: 30px;
  .timeline-title{
    margin-top: 15px;
    color: $main-primary-color;
    font-size: 18px;
    font-weight: 500;
    .sub {
      margin-left: 15px;
      color: $text-color-999;
      font-size: 14px;
    }
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    color: $text-color;
  }
}  
.timeline-period-end{
  &:after {
    content: "";
    background: transparent;
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 0px;
    position: absolute;
    border-bottom: 1px solid $border-color;
  }
}

/*===== Counter css =====*/
.achive {
  .count_block {
    width: 100%;
    padding: 30px 15px;
    background: $white;
    border-radius: $border-radius-30;
    border: 1px solid $border-color;
    position: relative;
    overflow: hidden;
    text-align: center;
    &:hover {
      .counter-icon {
        transform: rotate(5deg)
      }
    }
    .counter-icon {
      width: 64px;
      height: 64px;
      @include ease3;
      position: absolute;
      top: 0;
      right: -15px;
      opacity: 0;
      path {
        fill: $title-color;
      }
    }
    h3 {
      display: block;
      margin: 0 0 5px 0;
      padding: 0;
      font-family: $font-family-quicksand;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      color: $title-color;
    }
    h3.active-num{
      color: $main-primary-color;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: $text-color;
      font-family: $font-family-montserrat;
      font-weight: 400;
    }
  }
}
