/*===== Header css =====*/
.ms-home {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    .container-fluid {
      height: 100%;
    }
  .profile-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: 0;
    // border-radius: 30px 0 0 30px;
    canvas {
      opacity: .3;
    }
    .profile-detail {
      position: absolute;
      z-index: 2;
      ul {
        width: 150px;
        padding: 5px 10px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .7);
        border-radius: $border-radius-30;
        li {
          i {
            color: $white;
          }
        }
      }
    }
    img {
      max-width: 400px;
      border-radius: $border-radius-30;
    }
  }
  .ms-detail {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-left: 0;
    // border-radius: 0 30px 30px 0;
    .info {
      max-width: 500px;
      h1 {
        color: $title-color;
        font-size: 40px;
        line-height: 45px;
        span {
          color: $main-primary-color;
        }
      }
      h2 {
        margin-top: 15px;
        font-size: 26px;
        line-height: 30px;
        text-transform: capitalize;
        font-weight: 500;
        span {
          margin-right: 15px;
          color: $main-primary-color;
        }
      }
      p {
        margin: 20px 0 30px 0;
        font-size: 16px;
        color: $text-color;
        line-height: 28px;
        letter-spacing: .02rem;
      }
    }
  }
  .border-content {
    height: 100%;
    padding: 50px 0 50px 50px;
  }
  .border-content-color {
    height: 100%;
    padding: 50px 50px 50px 0;
    
  }
}
.ms-home-snow {
  .profile-img {
    overflow: hidden;
  }
}

